version: "3.9"

services:
  {{ service_id }}:
    build: .
    image: {{ namespace }}/{{ service_id }}:{{ version }}
    restart: unless-stopped
    environment:
      - SERVICE_ID={{ service_id }}
      - RUNTIME={{ runtime }}
{% for secret in secrets %}
      - {{ secret }}=${{'{'}}{{ secret }}{{'}'}}
{% endfor %}
    networks:
      - agentos-net

networks:
  agentos-net:
    external: true
